@font-face {
  font-family: "Jost";
  src: url(./jost.tff);
}

body {
  font-family: "Jost", "Verdana", "Arial", sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

p {
  font-size: 14pt;
}

a {
  color: blue;
}

a:hover {
  color: yellow;
}
